aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types
antlr4-python3-runtime
anyio
attrs==24.2.0
certifi
charset-normalizer
colorama
distro
frozenlist==1.4.1
h11
httpcore
httpx
idna
joblib
multidict==6.0.5
numpy
openai==0.27.10
pezzo==0.1.2
pydantic
pydantic_core
PySocks
requests
scikit-learn
scipy
simplejson
sniffio
threadpoolctl
tqdm
typing_extensions
urllib3
yarl==1.9.4